/** подключение шрифтов */

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./Roboto/Roboto-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("PlayfairDisplay"),
    url("./PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  margin-bottom: 15px;
}

@media screen and (max-width: 990px) {
  .title {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 70px;
  }
}

.box {
  width: 49%;
  height: 57%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 110px 20px 110px 20px;
}

@media screen and (max-width: 768px) {
  .box {
    position: relative;
    min-height: 344px;
    width: 100%;
    top: 0%;
    left: 0%;
    transform: none;
  }

  .image {
    max-width: 450px;
    min-height: 420px;
    margin: auto;
  }
}

.text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}