/** подключение шрифтов */

@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
        local("Roboto-Regular"),
        url("./Roboto/Roboto-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"),
        local("Roboto-Medium"),
        url("./Roboto/Roboto-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"),
        local("Roboto-Bold"),
        url("./Roboto/Roboto-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display"),
        local("PlayfairDisplay"),
        url("./PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: local("Bitter"),
        url("./Bitter/Bitter-VariableFont_wght.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Butler";
    src: local("Butler"),
        url("./Butler/Butler.woff2") format("woff2"),
        url("./Butler/Butler.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

/** глобальные стили для всего документа */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sizer {
    max-width: 1065px;
    margin: 0 auto;
}

/** стилизация шрифтов */

.body {
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: 400;
}

.hero__title {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
}

.hero__subtitle {
    font-size: 20px;
    font-weight: 500;
}

.biography__title {
    font-size: 20px;
    font-weight: 700;
}

.biography__author {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.3;
}

.biography__subtitle {
    font-size: 18px;
    font-weight: 500;
}

.biography__description {
    font-family: "Bitter", serif;
    font-size: 26px;
}

.designers__title {
    font-size: 20px;
    font-weight: 700;
}

.testimonials__title {
    font-size: 20px;
    font-weight: 700;
}

.testimonials__subtitle {
    font-weight: 700;
}

.testimonials__content {
    font-family: "Bitter", serif;
    font-size: 32px;
}

.strengths__title {
    font-size: 20px;
    font-weight: 700;
}

.strengths__subtitle {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.3;
}

.strengths__item {
    font-family: "Bitter", serif;
    font-size: 32px;
}

.footer__link {
    font-family: "Butler", serif;
    font-size: 40px;
}

/** стили для header */

.header {
    min-height: 135px;
    text-align: center;
    padding-top: 60px;
}

.header__menu {
    max-width: 34px;
    max-height: 15px;
    border: none;
    background: transparent;
}

/** стили для hero-section */

.hero {
    background-image: url(../images/header.jpg);
    background-size: cover;
    min-height: 630px;
    position: relative;
}

.hero__box {
    background-color: #fff;
    width: 56%;
    min-height: 360px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 110px;
    padding-bottom: 110px;
}