/** подключение шрифтов */

@font-face {
    font-family: "Roboto";
    src: local("Roboto Regular"),
        local("Roboto-Regular"),
        url("./Roboto/Roboto-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"),
        local("Roboto-Medium"),
        url("./Roboto/Roboto-Medium.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"),
        local("Roboto-Bold"),
        url("./Roboto/Roboto-Bold.ttf") format("ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display"),
        local("PlayfairDisplay"),
        url("./PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: local("Bitter"),
        url("./Bitter/Bitter-VariableFont_wght.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Butler";
    src: local("Butler"),
        url("./Butler/Butler.woff2") format("woff2"),
        url("./Butler/Butler.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

/** стилизация шрифтов */

.body {
    font-family:"Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 1.2;
    font-weight: 400;
}

.header__title {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
}

.header__subtitle {
    font-size: 20px;
    font-weight: 500;
}

.biography__title {
    font-size: 20px;
    font-weight: 700;
}

.biography__author {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.3;
}

.biography__subtitle {
    font-size: 18px;
    font-weight: 500;
}

.biography__description {
    font-family: "Bitter", serif;
    font-size: 26px;
}

.designers__title {
    font-size: 20px;
    font-weight: 700;
}

.testimonials__title {
    font-size: 20px;
    font-weight: 700;
}

.testimonials__subtitle {
    font-weight: 700;
}

.testimonials__content {
    font-family: "Bitter", serif;
    font-size: 32px;
}

.strengths__title {
    font-size: 20px;
    font-weight: 700;
}

.strengths__subtitle {
    font-family: "Playfair Display", serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.3;
}

.strengths__item {
    font-family: "Bitter", serif;
    font-size: 32px;
}

.footer__link {
    font-family: "Butler", serif;
    font-size: 40px;
}