@import url('./vendor/normalize.css');

/** подключение шрифтов */

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url("./vendor/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./vendor/fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("./vendor/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"), local("PlayfairDisplay"),
    url("./vendor/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"),
    url("./vendor/fonts/Bitter/Bitter-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Butler";
  src: local("Butler"),
    url("./vendor/fonts/Butler/Butler.woff2") format("woff2"),
    url("./vendor/fonts/Butler/Butler.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

/** глобальные стили для всего документа */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  font-weight: 400;
}

/** стили для header */

.header {
  display: flex;
  justify-content: flex-end;
  gap: 55px;
  box-sizing: border-box;
  max-width: 1397px;
  max-height: 135px;
  margin: auto;
  padding-top: 53.5px;
  padding-bottom: 53.5px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

.header__link:hover {
  text-decoration: underline;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

/** стили для hero-section */

.hero {
  position: relative;
  margin: auto;
  margin-bottom: 150px;
  width: 100%;
  background-image: url(./images/header.jpg);
  background-size: cover;
  min-height: 630px;
}

@media screen and (max-width: 990px) {
  .hero {
    max-width: 770px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 450px;
    max-height: 420px;
    background-image: url(./images/header_mobile.jpg);
    min-height: 764px;
    margin-bottom: 80px;
  }
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48.5%;
  max-width: 690px;
  min-height: 360px;
  background-color: #fff;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .hero__box {
    width: 70%;
    min-height: 280px;
    padding: 80px 20px 80px 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero__box {
    width: 100%;
    min-height: 344px;
    top: 22.5%;
    padding: 98px 32px 98px 32px;
  }
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 990px) {
  .hero__title {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 70px;
    font-weight: 400;
  }
}

.hero__subtitle {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .hero__subtitle {
    font-size: 18px;
  }
}

/** стили для biography-section */

.biography {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 1165px;
  max-height: 840px;
  margin: 0px auto 150px;
}

@media screen and (max-width: 990px) {
  .biography {
    flex-direction: column;
    max-height: 952px;
    max-width: 900px;
    margin-bottom: 80px;
  }
}

.biography__image {
  max-width: 571px;
}

@media screen and (max-width: 990px) {
  .biography__image {
    max-height: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .biography__picture {
    margin: 0px auto 0px auto;
  }
}

.biography__title {
  font-size: 24px;
  font-weight: 700;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  max-width: 23px;
  max-height: 115px;
  margin-left: 29px;
}

@media screen and (max-width: 990px) {
  .biography__title {
    order: -3;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 65%;
    transform: none;
    writing-mode: initial;
    margin-left: 0px;
  }
}

.biography__content {
  max-width: 455px;
  align-self: center;
  margin-left: 87px;
  padding-right: 10px;
}

@media screen and (max-width: 990px) {
  .biography__content {
    order: -2;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .biography__content {
    padding-left: 18px;
    max-width: 450px;
  }
}

.biography__author {
  max-width: 220px;
  margin-bottom: 36px;
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 1.3;
}

@media screen and (max-width: 990px) {
  .biography__author {
    order: -1;
    max-width: 100%;
    font-size: 64px;
  }

  .biography__author::before {
    content: "-"
  }
}

.biography__position {
  font-size: 18px;
  font-weight: 500;
  color: #0d0d0d;
}

@media screen and (max-width: 990px) {
  .biography__position {
    order: -4;
  }
}

.biography__job {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 5px;
  margin-bottom: 36px;
}

@media screen and (max-width: 1200px) {
  .biography__job {
    flex-direction: column;
  }
}

@media screen and (max-width: 990px) {
  .biography__job {
    order: -3;
    margin-bottom: 57px;
  }
}

.biography__job-item {
  font-size: 18px;
  font-weight: 500;
  color: #0d0d0d;
  white-space: nowrap;
}

.biography__job-item::before {
  content: "/";
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .biography__job-item::before {
    content: "-";
  }
}

.biography__job-item:first-child::before {
  content: "";
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .biography__job-item:first-child::before {
    content: "-";
    margin-right: 5px;
  }
}

.biography__description {
  font-family: "Bitter", serif;
  font-size: 26px;
  max-width: 455px;
  color: #0d0d0d;
}

@media screen and (max-width: 990px) {
  .biography__description {
    order: -2;
    font-size: 30px;
    max-width: 450px;
    margin-bottom: 41px;
  }
}

.biography__description::before {
  display: block;
  content: "";
  width: 20px;
  height: 6px;
  background-color: #000000;
  margin-bottom: 18px;
}

@media screen and (max-width: 990px) {
  .biography__description::before {
    display: none;
  }
}

/** стили для designers-section */

.designers {
  overflow: auto;
  min-height: 677px;
  margin-left: 20px;
  margin-bottom: 150px;
}

@media screen and (max-width: 990px) {
  .designers {
    margin-left: 30px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  .designers {
    margin-left: 18px;
    min-height: 573px;
    margin-bottom: 80px;
    padding-top: 52px;
  }
}

.designers__title {
  margin-left: 119px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1100px) {
  .designers__title {
    left: 580px;
  }
}

@media screen and (max-width: 768px) {
  .designers__title {
    transform: none;
    top: 0px;
    left: 0px;
    font-size: 18px;
    margin-bottom: 32px;
  }
}

.designers__line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .designers__line {
    gap: 21px;
    min-height: 520px;
  }
}

.designers__item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: flex-end;
}

.designers__photo-container {
  max-width: 336px;
  max-height: 440px;
  overflow: hidden;
}

.designers__photo-container_resized {
  max-width: 572px;
  max-height: 538px;
  overflow: hidden;
}

.designers__photo {
  display: block;
  min-width: 336px;
}

.designers__info {
  min-width: 336px;
}

.designers__name {
  text-transform: uppercase;
  font-weight: 700;
}

.designers__from::before {
  content: "From/ ";
  font-weight: 700;
}

.designers__skills::before {
  content: "Skills/ ";
  font-weight: 700;
}

/** стили для testimonials-section */

.testimonials {
  position: relative;
  max-width: 1163px;
  margin: 0px auto 150px;
}

@media screen and (max-width: 1165px) {
  .testimonials {
    max-width: 990px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    max-width: 450px;
  }
}

.testimonials__title {
  max-width: 28px;
  max-height: 140px;
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 700;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  margin-left: 24px;
}

@media screen and (max-width: 990px) {
  .testimonials__title {
    align-self: flex-end;
    margin-right: 18px;
    max-width: 150px;
    margin-bottom: 28px;
    transform: none;
    writing-mode: horizontal-tb;
  }
}

@media screen and (max-width: 768px) {
  .testimonials__title {
    align-self: flex-end;
    margin-right: 0;
  }
}

.testimonials__content {
  display: flex;
}

@media screen and (max-width: 990px) {
  .testimonials__content {
    flex-direction: column;
    gap: 28px;
  }
}

.testimonials__links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 98px;
  gap: 203px;
  margin-bottom: 30px;
  padding-left: 41px;
}

@media screen and (max-width: 990px) {
  .testimonials__links {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    order: 2;
    width: 750px;
    margin: 0 auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .testimonials__links {
    max-width: 412px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonials__link {
  display: inline-block;
  max-width: 190px;
  height: 57px;
  text-decoration: none;
  color: #000000;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-align: start;
}

@media screen and (max-width: 990px) {
  .testimonials__link {
    display: block;
    max-width: 186px;
    transform: none;
    writing-mode: horizontal-tb;
  }
}

.testimonials__link:hover {
  opacity: 0.8;
}

.testimonials__mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 39%;
  max-width: 451px;
  margin-left: 91px;
}

@media screen and (max-width: 1163px) {
  .testimonials__mission {
    margin-left: 30px;
  }
}

@media screen and (max-width: 990px) {
  .testimonials__mission {
    min-width: 418px;
    margin-left: 0;
  }
}

.testimonials__quote {
  max-width: 221px;
  text-align: center;
  margin-bottom: 42px;
  font-family: "Bitter", serif;
  font-size: 32px;
}


@media screen and (max-width: 1165px) {
  .testimonials__quote {
    font-size: 30px;
  }
}

@media screen and (max-width: 990px) {
  .testimonials__quote {
    max-width: 342px;
    margin-left: auto;
    margin-right: auto;
  }
}

.testimonials__image_size_large {
  max-width: 451px;
  min-height: 760px;
  margin-left: 20px;
}

@media screen and (max-width: 990px) {
  .testimonials__image_size_large {
    display: none;
  }
}

.testimonials__subtitle {
  font-weight: 700;
}

/** стили для strong-point-section */

.strengths {
  max-width: 1518px;
  min-height: 613px;
  overflow: auto;
  padding-left: 20px;
  margin: 0px auto 139px;
}

@media screen and (max-width: 768px) {
  .strengths {
    padding-left: 16px;
  }
}

.strengths__title {
  display: inline-block;
  margin-left: 238px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 1180px) {
  .strengths__title {
    margin-left: 16px;
    transform: none;
  }
}

@media screen and (max-width: 768px) {
  .strengths__title {
    margin-left: 0;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.strengths__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 21px;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .strengths__content {
    gap: 17px;
  }
}

.strengths__image {
  min-width: 335px;
  min-height: 554px;
}

@media screen and (max-width: 768px) {
  .strengths__image {
    max-width: 310px;
    max-height: 450px;
  }
}

.strengths__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 554px;
  min-width: 451px;
}

@media screen and (max-width: 1180px) {
  .strengths__links {
    order: -1;
    min-height: 550px;
    min-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .strengths__links {
    min-height: 432px;
    min-width: 201px;
    align-self: flex-start;
  }
}

.strengths__subtitle {
  margin-bottom: 28px;
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 1180px) {
  .strengths__subtitle {
    margin-bottom: 24px;
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .strengths__subtitle {
    margin-bottom: 24px;
    font-size: 46px;
    line-height: 1;
  }
}

.strengths__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 216px;
  max-height: 422px;
}

@media screen and (max-width: 768px) {
  .strengths__list {
    gap: 8px;
    min-width: 201px;
    margin-bottom: 20px;
    margin-left: 16px;
  }
}

.strengths__item {
  font-family: "Bitter", serif;
  font-size: 34px;
  line-height: 1.23;
}

@media screen and (max-width: 768px) {
  .strengths__item {
    font-size: 24px;
  }
}

.strengths__link {
  color: #000000;
  text-decoration: none;
}

.strengths__link:hover {
  text-decoration: underline;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

/** стили для footer */

.footer {
  display: none;
  width: 100%;
}

@media screen and (max-width: 768px) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 100;
    bottom: 0;
    background-color: #fff;
    border: 2px solid #000000;
    width: 100%;
    min-height: 82px;
  }
}

.footer__link {
  display: block;
  font-family: "Butler", serif;
  font-size: 40px;
  text-decoration: none;
  color: #000000;
}

.footer__link:hover {
  text-decoration: underline;
  opacity: 0.6;
  transition: opacity 0.5s ease;
}